<h3 align="center">Вход:</h3>

<form align="center" action="login" method="post">
  <input name="email" id="email" type="email" placeholder="Логин ваш Email"/><font size="2" color="red" face="Arial"> *</font><br/>
  <p></p>
  <input name="password" id="password" type="password" placeholder="Пароль"/><font size="2" color="red" face="Arial"> *</font><br/>
  <p></p>
  <input type="submit" /><br/>
  <p><font size="3" color="red" face="Arial">{{{error204}}}</font></p></br>
</form>