<h3 align = "center">Регистрация нового пользователя:</h3>


<form align = "center" action="registration" method="post">
  <input name="firstname" id="firstname" type="firstname" placeholder="Имя"/><br/>
  <p></p>
  <input name="lastname" id="lastname" type="lastname" placeholder="Фамилия"/><br/>
  <p></p>
  <input name="email" id="email" type="email" placeholder="Электронная почта"/><font size="2" color="red" face="Arial"> *</font><br/>
  <p></p>
  <input name="password" id="password" type="password" placeholder="Пароль"/><font size="2" color="red" face="Arial"> *</font><br/>
  <p></p>
  <input type="submit" /><br/>
  <p><font size="3" color="red" face="Arial">{{{error204}}}</font></p></br>
</form>