<h3>Пользователи:</h3>


<form action="finduser" method="post">
<input name="findlastname" id="findlastname" type="findlastname" placeholder="Поиск по фамилии"/>
<input type="submit" /><br/>
<p></p>
<table border = "1">
<tr><td>ID</td><td>ИМЯ</td><td>ФАМИЛИЯ</td><td>EMAIL</td>
{{{users}}}
</tr>
</table>
